.body{
    color: white;
    height: 100vh;
    background: linear-gradient(90deg, rgb(114, 21, 21),black);
}

.formin{
    max-width: 500px;
    position: relative;
    align-items: center;
    border: 5px rgb(231, 23, 23) ridge;
    text-align: center;
    background-color: white;
}

.bordinha{
    border: none;
    padding-left: 750px;
    padding-right: 750px;
    padding-top: 150px;
    padding-bottom: 10px;
    color: rgb(231, 23, 23);
}

.botao{
    color: white;
    background-color: rgb(231, 23, 23);
}

.aviso{
    text-align: center;
    padding-left: 600px;
    padding-right: 600px;
}